body{
    overflow: hidden;
}
main{
    font-family: "heebo", sans-serif;
}

.landing{
    min-height: 100vh;
    /* min-width: 50vh; */
    background-image: linear-gradient(to bottom right,rgb(19, 104, 126), green);
    background-size: cover;
    padding: 0rem 5rem;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
    color: white;
    font-family: "heebo", sans-serif;

}
#logo{
    font-family:"lobster",cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider{
    background-color: olivedrab;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translatey(100%);
}

#people{
    color: olivedrab;
}
.intro-text{
    color: rgb(234, 242, 248);
    font-family: "heebo",sans-serif;
    font-size: 2rem;
}

.hide{
    background: black;   /*  black color to hide text in backgroung color */
    overflow: hidden;
}

.hide span{
    transform:  translateY(100%);
    display: inline-block;  /* to move span up and down  */
}



.big-text{
    /* backgroung-color: linear-gradient(to bottom right,rgb(19, 104, 126), green); */
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    font-size: 5rem;
    /* color: rgb(61,61,61); */

    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    outline: none;
    animation: aman 2s linear infinite;
}

@keyframes aman{
    0%    {
    color: #08a036;
    text-shadow: none;
    }
    50%
    {
        color: rgb(49, 221, 178) ;
        text-shadow:  0 0 2px white

    }
    100%{
        color: rgb(9, 148, 158);
        text-shadow: 0,0,10px white;
    }
}



/* for tube light effect
@keyframes aman{
    0%,10% ,18%,20%,36%, 50%,65.1%,77%,80%,90%,92.1%
    {
    color: #1a831a;
    text-shadow: none;
    }
    10.2%, 18.2%,20.3%,36.1%,50.3%,65.6%,77.1%,80.2%,90.1%,92.6%, 100%
    {
        color: rgb(30, 120, 143);
        text-shadow:  0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 30px #03bcf4,
        0 0 40px #03bcf4,
        0 0 50px #03bcf4
        ;

    } */
}